@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url(./scss/null.scss);

// import bootstrap //
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/grid";

* {
	-webkit-tap-highlight-color: transparent;
}
.body-hidden {
	overflow: hidden;
}
$container-min-widths: (
	sm: 540px,
	md: 768px,
	lg: 992px,
	xl: 1420px,
);

// colors //
$text-color-light: white;
$text-color-darck: black;
$text-color-darck-opacity75: rgba(0, 0, 0, 0.75);
$text-color-light-opacity75: rgba(255, 255, 255, 0.75);
$text-color-blue: #35ade3;

$color-blue: #35ade3;
$color-blue-opacity5: rgba(53, 173, 227, 0.5);
$color-light: #fff;
$color-light-gray: #f3f3f3;

// fonts //
$main-font: "Noto Sans", sans-serif;
$inter-font: "Inter", sans-serif;

@mixin placeholder {
	&::-webkit-input-placeholder {
		@content;
	}
	&:-moz-placeholder {
		@content;
	}
	&::-moz-placeholder {
		@content;
	}
	&:-ms-input-placeholder {
		@content;
	}
}
@mixin tlrb() {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
@mixin bg($size: cover) {
	background-size: $size;
	background-repeat: no-repeat;
	background-position: center;
}

@mixin standartAnimate($time: 0.3s) {
	transition: ease-in 0.3s;
}

head,
body {
	overflow-x: hidden;
}

body {
	margin: 0;
	padding: 0;
	font-family: $main-font;
	font-weight: normal;
	font-size: 16px;
	color: $text-color-darck;
	position: relative;
}

